<?xml version="1.0"?>
<ruleset name="The Hidden Word">
	<description>WordPress Coding Standards for The Hidden Word</description>
	<file>.</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<rule ref="WordPress"/>
	<config name="minimum_supported_wp_version" value="6.2"/>
</ruleset>
